<style>
h1{
  margin-top:30px;
  margin-left:600px;
}
   .container{
    display:grid;
    gap: 20px;
   }
   .row{
    background-color:lightblue;
    height:70px;
    align-items:center;
    display:flex;
    flex-direction: column;
    justify-content:center;  
    border-radius:10px;

   }
</style>


<h1>YOUR BOOKS</h1>
<div  class="container">
<% if @books.present? %>
<% @books.each do |book| %>
    <div class="row"> 
      <p class="r"> <%= book.id %> </p>
    <p class="r"> <%= book.name %> </p>
    <p class="r"><%= book.author %></p>
    <p class="r">Rs. <%= book.price %></p> 
    <%= button_to 'delete', test_path ,method: :delete,params: {id: book.id} ,class: 'btn btn-danger'%>


  </div>
    <% end %>
    <% else %>
    <p>YOUR CART IS EMPTY!!</p>
<% end %>   
</div>


