<style>
h1{
  margin-left:600px;
}
   .container{
    display:grid;
    gap: 20px;
   }
   .row{
    background-color:lightblue;
    height:70px;
    align-items:center;
    display:flex;
    flex-direction: column;
    justify-content:center;  
    border-radius:10px;

   }
</style>


<h1>YOUR BOOKS</h1>
<div  class="container">
<% if @books.present? %>
<% @books.each do |book| %>
    <div class="row"> 
    <p class="r"> <%= book.name %> </p>
    <p class="r"><%= book.author %></p>
    <p class="r">Rs. <%= book.price %></p> 
    
    <%= form_tag remove_from_cart_path, method: :post do %>
      <%= hidden_field_tag 'book_id', book.id %>
      <%= submit_tag 'Remove', class: 'btn btn-danger' %>
    <% end %>

  </div>
    <% end %>
    <% else %>
    <p>No books found.</p>
<% end %>   
</div>


