<style>
h1{
margin-left:700px;
color:white;

}
.container{
  margin-top:20px;
  justify-self:center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}
.c{
  border-radius:7px;
  padding: 20px;
  text-align: center;

}
.image{
width:100px;
height:100px
}
</style>

<h1>BOOKS</h1>
<div class="container">
  
<% for book in @books %>
<div class="c", style= 'background-color:lightblue'>
  <div class="c-body">
    <%if book.img.attached?%>
     <%= image_tag (url_for (book.img)),class: "image"%>
     <%end%>
      <%= render partial:"shared/book", locals:{book: book}%>
       <%= button_to 'delete', delete_path ,method: :delete,params: {id: book.id} ,class: 'btn btn-danger'%>

  </div>
</div>
<% end %>

</div>

<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @books %>
    </div>
    <%= will_paginate @books, :container => false %>
  </div>