<style>
h1{
  margin-left:680px;
  margin-bottom:30px;
}
.frm{
    display:flex;
    width:550px;
    margin-left:500px;
    justify-content:center;
    background-color:lightblue;
    border-radius:10px;
    padding:10px;
}
form{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:500px;
   
    
}

</style>

<h1>Sign Up<h1>
<h6 class="frm">
   <%= form_with model: @user ,url: signup_path do |form| %> 

   <% if @user.errors.any? %>
    <div class="alert alert-danger">
    <% @user.errors.full_messages.each do |messages| %>
        <div><%= messages %> </div>
        <% end %>   
    </div>
    <% end %>

   

    <div class="mb-3">
        <%= form.label :name %>
    <%= form.text_field :name, class:"form-control",placeholder:"david" %>
    </div>
    <div class="mb-3">
    <%= form.label :address %>
<%= form.text_field :address, class:"form-control",placeholder:"marathalli" %>
</div>

<div class="mb-3">
<%= form.label :phone %>
<%= form.text_field :phone, class:"form-control",placeholder:"7845421579" %>
</div>

    <div class="mb-3">
        <%= form.label :email %>
    <%= form.text_field :email, class:"form-control",placeholder:"david@gmail.com" %>
    </div>
    <div class="mb-3">
        <%= form.label :password %>
    <%= form.password_field :password ,class:"form-control",placeholder:"****" %>
    </div>

    <div class="mb-3">
        <%= form.submit "SignUp" ,class:"btn btn-secondary"%>
    </div>
   <% end %>
</h6> 