<style>
.*{
    margin:0;
    padding:0;
    box-size:content-box;
   
}
.bdy{
    background-color:rgb(37,44,52);

}
h1{
  margin-bottom:30px;
  margin-left:48vw;
  color:white;
}
.frm{
    display:flex;
    width:550px;
    margin-left:37vw;
    justify-content:center;
    # background-color:rgb(80,179,246);
    # background-color:rgb(131,182,51);
    background-color:lightblue;
    border-radius:10px;
    padding:20px;
}
form{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:500px;
   
    
}
</style>
<h1>login page</h1>
<div class="frm">
<%= form_with model: @user ,url: login_path do |form| %> 

    <div class="mb-3">
    <%= form.label :email %>
<%= form.text_field :email, class:"form-control",placeholder:"david@gmail.com" %>
</div>
<div class="mb-3">
    <%= form.label :password %>
<%= form.password_field :password ,class:"form-control",placeholder:"****" %>
</div>
<div class="mb-3">
<%= form.submit "login" ,class:"btn btn-primary"%>
</div>

<% end %>
</div>