<h5 class="c-title" ><%= book.id%></h5>
<h5 class="c-title"><%= book.name%></h5>
<h6 class="author"><%= book.author%></h6>
<p class="c-text"><%= book.description%></p>
<p class="c-text">Price: <%= book.price%></p>
<p class="c-text">available: <%= book.quantity%></pp>