<style>
.container{
  margin-top:20px;
  justify-self:center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}
.c{
  border-radius:7px;
  background-color: lightblue;
  padding: 20px;
  text-align: center;
}

</style>


<div class="container">
<%for book in @books%>
<div class="c">
  <div class="c-body">
    <h5 class="c-title"><%= book.name%></h5>
    <h5 class="c-title"><%= book.id%></h5>
    <h6 class="author"><%= book.author%></h6>
    <p class="c-text"><%= book.description%></pp>
    <p class="c-text">available: <%= book.quantity%></pp>
   <div> <%= link_to "Add",{controller: 'userbooks' , action: 'add_book_to_user' ,book_id: book.id },class: 'btn btn-primary' %></div>
  </div>
</div>
<% end %>
</div>

